{%if categories %}
<div class="panel panel-default">
  <div class="panel-body">
   	Pick a category:
	<select id="category_selector">
		<option value="-1"></option>
	{% for cat in categories %}
		<option value="{{cat}}"{% if selected %}{% if selected==cat %} selected{% endif %}{% endif %}>{{cat}}</option>
	{% endfor %}
	</select>
	<button type="button" onClick="switchCategory()" class="btn btn-primary">Go</button>
{%if subcategories %}
Pick a Sub-category:
        <select id="category_selector">
                <option value="-1"></option>
        {% for cat in subcategories %}
                <option value="{{cat.id}}"{% if selected %}{% if selected==cat %} selected{% endif %}{% endif %}>{{cat.value}}</option>
        {% endfor %}
        </select>
        <button type="button" onClick="switchCategory()" class="btn btn-primary">Go</button>
{% endif %}
  </div>
</div>
{% endif %}
